@use "variables";

:root {
  --highcharts-background-color: transparent;
}

.highcharts-tooltip {
  &-box {
    fill: variables.$color-light-300;
  }

  & text {
    fill: variables.$color-text-primary;
  }
}