// Base color palette
$color-dark-100: #1c1c1d;
$color-dark-200: #262627;
$color-dark-300: #323233;
$color-dark-400: #929292;

$color-light-100: #fcfefd;
$color-light-200: #b6b7b6;
$color-light-300: #676768;

// Semantic colors
$color-red: #c84e64;
$color-green: #54a184;
$color-blue: #557fce;

// Theme tokens
$color-background-primary: $color-dark-100;
$color-background-secondary: $color-dark-200;
$color-border: $color-dark-300;

// Text tokens
$color-text-primary: $color-light-100;
$color-text-secondary: $color-light-200;
$color-text-tertiary: $color-light-300;

// Button tokens
$color-text-button-primary: $color-light-100;
$color-background-button-primary: $color-green;
$color-background-button-primary-hover: darken($color-green, 10%);

$color-text-button-secondary: $color-light-100;
$color-background-button-secondary: $color-blue;
$color-background-button-secondary-hover: darken($color-blue, 10%);

$color-text-button-tertiary: $color-light-200;
$color-background-button-tertiary: $color-dark-200;
$color-background-button-tertiary-hover: $color-dark-300;

// Input tokens
$transition-duration: 0.3s;